*
  &::-webkit-scrollbar
    width: 8px
    height: 8px
  &::-webkit-scrollbar-track
    background-color: rgba(255, 255, 255, 0.5)
    border-radius: 8px
  &::-webkit-scrollbar-thumb
    background: rgba(170, 170, 170, 0.51)
    width: 3px
    border-radius: 8px
    &:hover
      background: #8c8c8c

button:focus, button:active
  outline: 0
button
  text-align: center
.circle
  border-radius: 100% !important
.card--flex-toolbar
  margin-top: -64px
.card--margin-toolbar
  margin-top: 64px
.clickable:hover
  cursor: pointer
// aside a.list__tile--active,.menu__content a.list__tile--active
//   border-left: 3px solid

// aside a.list__tile--active
//   background-color: rgba(0, 0, 0, 0.1)

*
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

html,.application--wrap
  overflow-y: hidden

.v-content
  overflow-y: hidden
  height: 100vh
  .v-content__wrap
    overflow-y: hidden
    height: 100%
    .container-wrap
      overflow-y: scroll
      height: 100%

.badge-small
  .v-badge__badge
    width: 18px
    height: 18px
    font-size: 12px

.clickable
  cursor: pointer

body
  background-color: #eeeeee

@import "input"
@import "animate"
@import "keyframes"
@import "transition"
@import "box"
@import "text"
@import "video"
@import "button"

