.head-title
  color: #696969
  text-shadow: 1px 1px #ffffff
  border-left: 2px solid #538bed
  font-size: 1.6rem
  padding: 0 5px
  margin: 3px 0

.ql-editor
  white-space: normal!important

.ql-editor-indent .ql-editor > *
  text-indent: 2em

.ql-toolbar.ql-snow
  border: none
  border-bottom: 1px solid #e2e2e2

.ql-container.ql-snow
  border: none
