$play-font-size : 4em
$play-width : 1.5em
$play-height : $play-width

.video-js .vjs-big-play-button
  font-size: $play-font-size !important
  line-height: $play-width - .1em !important
  height: $play-height !important
  width: $play-width !important
  border-radius: 100% !important
  top: 50% !important
  left: 50% !important
  transform: translate(-50%, -50%)
